@{
    ViewData["Title"] = "Подтверждение почты";
}

<h2>Подтверждение почты</h2>
<p>Ваша электронная почта была успешно подтверждена! Теперь вы можете войти в систему.</p>
<a href="@Url.Action("Index", "Home")">Перейти на главную страницу</a>